main select, main input, main a {
  text-decoration: none;
}

main {
  display: flex;
  flex-flow: row nowrap;
}

.filtre {
  background: #F2F2F2;
  width: 169px;
  padding: 10px;
  float: left;
}

.filtre form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: sticky;
  top: 110px;
  height: 440px;
}

/* Reset Select */
.filtre select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #000; /* couleur selecteur */
  background-image: none;
}
/* Custom Select */
.filtre .select {
  position: relative;
  display: block;
  width: 100%;
  height: 3em;
  line-height: 3;
  background: #000; /* aucune idée */
  overflow: hidden;
  border-radius: .25em;
}
.filtre select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff; /* couleur text */
  cursor: pointer;
}
.filtre select::-ms-expand {
  display: none;
}
/* Arrow */
.filtre .select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #2D2D2D; /* couleur bouton */
  pointer-events: none;
}
/* Transition */
.filtre .select:hover::after {
  color: #41B0C9;
}
.filtre .select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.filtre input[type=submit], .filtre input[type=reset] {
  height: 30px;;
  width: 40%;
  border-radius: 5px;
  border: none;
  background: #000;
  color: #FFF;
}

.filtre input[type=reset] {
  float: right;
}

.liste {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 400px;
  grid-auto-rows: 400px;
  grid-column-gap: 10px;
  grid-row-gap: 40px;
  align-content: center;
  width: calc(100% - 169px);
  padding: 30px;
}

.tuile {
  display: inline-block;
  max-width: 250px;
  background: #000;
  margin: 0 auto;
}

.tuile img {
  width: 100%;
  margin-bottom: 5px;
}

.tuile h2, .tuile h3, .tuile p {
  color: #FFF;
  margin: 10px;
}

.tuile h2 {
  font-size: 2rem;
  margin-bottom: -1.5rem;
}

.tuile h3 {
  font-size: 1.5rem;
}

.tuile p {
  font-size: 1.5rem;
}

@media all and (max-width: 1339px) {
  .liste {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (max-width: 1075px) {
  .liste {
    width: 100%;
  }

  .filtre {
    width: 100%;
    float: none;
  }

  .filtre form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 3em);
    grid-gap: 10px;
    height: auto;
  }

  .select:nth-child(1) {
    grid-column: 1 / 2 span;
  }

  .select:nth-child(2) {
    grid-column: 3 / 2 span;
  }

  .select:nth-child(3) {
    grid-column: 1 / 2 span;
    grid-row: 2 / 1span;
  }

  .select:nth-child(4) {
    grid-column: 3 / 2 span;
    grid-row: 2 / 1span;
  }

  .select:nth-child(5) {
    grid-column: 1 / 2 span;
    grid-row: 3 / 1span;
  }

  .select:nth-child(6) {
    grid-column: 3 / 2 span;
    grid-row: 3 / 1span;
  }

  .select:nth-child(7) {
    grid-column: 1 / 2 span;
    grid-row: 4 / 1span;
  }

  .select:nth-child(8) {
    grid-column: 3 / 2 span;
    grid-row: 4 / 1span;
  }

  .select:nth-child(9) {
    grid-column: 1 / 4 span;
    grid-row: 5 / 1 span;
  }

  form p:nth-child(10) {
    grid-column: 2 / 2 span;
    grid-row: 6 / 1 span;
  }

  main {
    flex-direction: column;
  }
}

@media all and (max-width: 850px) {
  .liste {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 584px) {
  .liste {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 326px) {
  .filtre select, .filtre .select, .filtre input[type=submit], .filtre input[type=reset] {
    font-size: 1rem;
    height: 2em;
    line-height: 2;
  }

  .filtre form {
    grid-template-rows: repeat(6, 2em);
  }
}
