main select, main input, main a {
  font-family: 'Exo', sans-serif;
  text-decoration: none;
}

main {
  display: flex;
  flex-flow: row nowrap;
}

.filtre {
  background: #F2F2F2;
  width: 160px;
  padding: 10px;
  float: left;
}

.filtre form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: sticky;
  top: 110px;
  height: 440px;
}

/* Reset Select */
.filtre select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #000; /* couleur selecteur */
  background-image: none;
}
/* Custom Select */
.filtre .select {
  position: relative;
  display: block;
  width: 100%;
  height: 3em;
  line-height: 3;
  background: #000; /* aucune idée */
  overflow: hidden;
  border-radius: .25em;
}
.filtre select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff; /* couleur text */
  cursor: pointer;
}
.filtre select::-ms-expand {
  display: none;
}
/* Arrow */
.filtre .select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #2D2D2D; /* couleur bouton */
  pointer-events: none;
}
/* Transition */
.filtre .select:hover::after {
  color: #41B0C9;
}
.filtre .select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.filtre input[type=submit], .filtre input[type=reset] {
  height: 30px;;
  width: 40%;
  border-radius: 5px;
  border: none;
  background: #000;
  color: #FFF;
}

.filtre input[type=reset] {
  float: right;
}

.liste {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  max-width: calc(100vw - 170px);
  padding: 30px;
}

.tuile {
  display: inline-block;
  width: 200px;
  background: #000;
  padding-bottom: 5px;
  margin: 10px;
}

.tuile img {
  width: 100%;
  margin-bottom: 5px;
}

.tuile h2, .tuile h3, .tuile p {
  color: #FFF;
  margin: 0 5px;
}

.tuile h2 {
  font-size: 1.5rem;
}

.tuile h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}
