.scene {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 70vh;
    margin-top: 20px;
}

.scene div {
    align-self: center;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    text-align: center;
    font-size: 5vh;
    background: rgba(0, 0, 0, 0.459);
    margin: 0 auto;
    transition: .5s;
}

.scene div:hover {
    background: #000;
}

.scene p {
    line-height: 5vw;
    color: #FFF;
}

ul {
    text-align: center;
}

li {
    display: none;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 70vh;
}

li hr {
    opacity: 0;
    border: 2px solid #000;
    align-self: center;
    margin-right: 0;
    width: 0;
    z-index: 2;
    border-radius: 30px;
}

li .droite {
    box-shadow: -2px 0 4px 0 #000;
    margin-left: 0;
    grid-column-start: 3;
    height: 95%;
    width: -2px;
}

li .gauche {
    box-shadow: 2px 0 4px 0 #000;
    height: 95%;
    width: -2px;
    margin-right: 0;
}

li img {
    position: relative;
    height: 90%;
    align-self: center;
    margin: 0 auto;
}