.scene {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 70vh;
    margin-top: 20px;
}

.scene div {
    align-self: center;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    text-align: center;
    font-size: 5vh;
    background: rgba(0, 0, 0, 0.459);
    margin: 0 auto;
    transition: .5s;
}

.scene div:hover {
    background: #000;
}

.scene p {
    line-height: 5vw;
    color: #FFF;
    cursor: pointer;
}

ul {
    text-align: center;
}

li {
    display: none;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 70vh;
}

li hr {
    opacity: 0;
    border: 2px solid #000;
    align-self: center;
    margin-right: 0;
    width: 0;
    z-index: 2;
    border-radius: 30px;
}

li .droite {
    box-shadow: -2px 0 4px 0 #000;
    margin-left: 0;
    grid-column-start: 3;
    height: 95%;
    width: -2px;
}

li .gauche {
    box-shadow: 2px 0 4px 0 #000;
    height: 95%;
    width: -2px;
    margin-right: 0;
}

li img {
    position: relative;
    height: 90%;
    align-self: center;
    margin: 0 auto;
}

@media all and (max-width: 1350px) {
   .slide_gauche {
       grid-column: 1 / 1 span;
       grid-row-start: 1;
       z-index: 2; 
   }

   .slide_droite {
       grid-column: 3 / 1 span;
       grid-row-start: 1; 
       z-index: 2; 
   }

   ul {
       grid-column: 1 / 3 span;
       grid-row-start: 1; 
   }
} 

@media all and (max-width: 980px) {
    li img {
        height: 70%;
    }
}

@media all and (max-width: 775px) {
    li img {
        height: 80%;
    }

    .scene {
        height: 40vh!important;
        grid-template-rows: 40vh;
    }

    li {
        grid-template-rows: 40vh;
    }
}

@media all and (max-width: 446px) {
    li img {
        height: 70%;
    }

    .scene {
        height: 30vh!important;
        grid-template-rows: 30vh;
    }

    li {
        grid-template-rows: 30vh;
    }
}

@media all and (max-width: 420px) {
    li img {
        height: 60%;
    }
}

@media all and (max-width: 380px) {
    li img {
        height: auto;
        width: 80%;
    }

    .scene {
        height: 20vh!important;
        grid-template-rows: 20vh;
    }

    li {
        grid-template-rows: 20vh;
    }
}