html {
  font-family: 'Exo', sans-serif;
}

main {
    padding: 40px 0;
}

figure {
  cursor: pointer;
  width: 15%;
  text-align: center;
  transition: .5s;
}

figure img {
  filter: invert(100%);
  height: 6rem;
  margin: 0 auto;
  transition: .5s;
}

figcaption {
  font-size: 2rem;
  color: #FFF;
  transition: .5s;
}

figure:hover img {
  height: 5rem;
  margin-top: 8px;
}

figure:hover figcaption {
  font-size: 1.5rem;
}

.partie {
  position: sticky;
  top: 100px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: #000;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
  transition: 1s;
}

.partie button {
  background: #4b4b4b;
  padding: 9px 20px;
  font-size: 1.5rem;
  border-radius: 7px;
  border-width: 2px;
  box-shadow: inset 1px 1px 10px 2px grey, inset -1px -1px 10px 2px black;
  cursor: pointer;
}

main article {
  position: relative;
  width: 70%;
  margin: 40px auto 0;
  text-align: center;
}

main h1 {
  font-size: 3rem;
}

main section {
  margin: 40px 0;
  padding: 15px;
  border-radius: 10px;
  transition: 1s;
}

main section:hover {
  margin: 40px 0;
  padding: 15px;
  /*border: 1px solid grey;*/
  border-radius: 10px;
  box-shadow: inset 0 0 11px 1px lightgrey, 5px 5px 10px 0 #000;
}

main h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

main p {
  font-size: 1.5rem;
}

main h2 img, main a img {
  display: inline-block;
  margin-right: 10px;
  height: 4rem;
}

main h2, main p {
  text-align: left;
}

main .fauxbouton {
  display: inline-block;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  width: 40%;
  font-size: 2rem;
  text-decoration: none;
  color: #000;
  transition: 1s;
  background: lightgrey;
}

main .fauxbouton:hover {
  background: #FFF;
  box-shadow: 5px 10px 5px 0 #000;
  border: 2px solid #4CAF50;
  color: green;
}

main .fauxbouton:active {
  box-shadow: inset 0 0 5px 0 #000;
  background-color: #4CAF50;
  color: white;
  border: none;
}

.fauxbouton span {
  position: relative;
  bottom: 8px;
}

@media all and (max-width: 1239px) {
  .partie {
    width: 90%;
  }

  main figcaption {
    font-size: 1.5rem;
  }
}

@media all and (max-width: 666px) {
  figure img {
    height: 4rem;
  }

  main figcaption {
    font-size: 1rem;
  }

  main .fauxbouton {
    width: 90%;
  }
}

@media all and (max-width: 402px) {
  .partie {
    flex-wrap: wrap;
    padding: 0;
  }
  
  main figure {
    width: 40%;
    margin: 10px;
  }

  main .fauxbouton, main article {
    width: 95%;
  }
}

.animconcept {
  width: 100%;
  background: #000 url('../img/texture/carbon.png');
  box-shadow: 0 0 20px 0 grey, inset 0 10px 10px -10px #000, inset 0 -10px 10px -10px grey;
  border-radius: 0;
  transition: 1s;
}