main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main section {
  width: 70%;
}

.coordoner, main form {
  margin: 50px;
}

main h2, main li, main input, main textarea {
  font-family: 'Exo', sans-serif;
}

.coordoner {
  background: #000 url('../img/map.png') right no-repeat;
  padding: 15px;
  width: 100%;
}

.coordoner h2 {
  color: #FFF;
  font-size: 30px;
  margin-bottom: 10px;
}

.coordoner ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  height: 99px;
}

.coordoner li {
  color: #FFF;
  margin: 5px 30px 0;
}

main form, main form p {
  width: 100%;
  text-align: center;
}

main input[type=text], main input[type=email], main input[type=tel] {
  width: 49.7%;
  height: 40px;
}

main textarea {
  height: 150px;
  width: 100%;
  margin-bottom: 5px;
}

main input[type=submit] {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border: none;
  background: #000;
  color: #FFF;
}

main p {
  margin-bottom: 5px;
}

/*.left {
  margin: 0 5px 5px 0;
}

.right {
  margin: 0 0 5px 0;
}*/
