main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main h1, .coordoner, main form {
  margin: 50px;
}

main h2, main li, main input, main textarea {
  font-family: 'Exo', sans-serif;
}

main h1 {
  font-size: 60px;
}

.coordoner {
  background: #000;
  padding: 15px;
  width: 1000px; 
}

.coordoner h2 {
  color: #FFF;
  font-size: 30px;
  margin-bottom: 10px;
}

.coordoner ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  height: 99px;
}

.coordoner li {
  color: #FFF;
  margin: 5px 30px 0;
}

main form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

main input, main textarea {
  margin: 5px;
}

main textarea {
  height: 150px;
}
