

main {

  width:70%;
}

* {
  box-sizing: border-box;
}
.centrage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
top:0px;
}

/* Hide the images by default */
.mySlides {
  display: none;


}
.nature {
  border:1px solid black;
  border-radius: 10px;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;

  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.row{
  display: flex;
  justify-content: center;


}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {

  width: 120px;
  margin:15px 5px 15px 5px;
  border:1px solid grey;
  border-radius: 5px;
  background: #f2f2f2;

}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;

}

.active,
.demo:hover {
  opacity: 1;
}



    #owl-demo img{
        display: block;
        width: 100%;
        height: auto;
    }
