
p{
margin-top: 30px;
margin-top: 10px;
line-height: 1.2;
}

main{
  font-family: 'Exo', sans-serif;
  margin-left: 8%;
  margin-right: 8%;
}

#blocDescription{
  width: 100% ;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  font-size: 20px;
  }
  #blocTitre{
    width: 100% ;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
  }

  .photo_voiture{
    width: 100%;
    height: auto;
  }
