
p{
margin-top: 30px;
margin-top: 10px;
line-height: 1.2;
margin-left: 8%;
margin-right: 8%;
}

main{
  font-family: 'Exo', sans-serif;
}

#blocDescription{
  width: 100% ;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  font-size: 20px;
  }
  #blocTitre{
    width: 100% ;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    padding-left: 8%;
    padding-right: 8%

  }

  #contenu{
    width:100%;
    margin-left: 50%;
    margin-right: 50%;
    line-height: 1.5;
  }

  .photo_voiture{
    width: 100%;
    height: auto;
  }
