footer {
  background-color: #000;
  padding: 0 20px;
  height: 70px;
}

footer p, footer a {
  text-align: center;
  font-size: 25px;
  color: #FFF;
  font-family: 'Exo', sans-serif;
  text-decoration: none;
  line-height: 70px;
}

footer .facebook {
  float: right;
  line-height: 70px;
}

footer img {
  height: 50px;
  margin: 10px;
  padding: 5px;
  transition: .5s;
}

footer img:hover {
  border: 1px solid white;
  border-radius: 5px;
}

main {
  min-height: calc(100vh - 70px - 100px);
}
