footer {
  background-color: #000;
  padding: 0 20px;
  height: 70px;
}

footer p, footer a {
  text-align: center;
  font-size: 25px;
  color: #FFF;
  font-family: 'Exo', sans-serif;
  text-decoration: none;
  line-height: 70px;
}

footer .facebook {
  float: right;
  margin-top: 10px;
}

footer img {
  height: 50px;
  filter:grayscale(100%);
  transition: .5s;
}

footer img:hover {
  filter: grayscale(0%) contrast(200%);
}

main {
  min-height: calc(100vh - 70px - 100px);
}
