@import url('https://fonts.googleapis.com/css?family=Exo');

html {
  font-size: 62.5%;
  font-family: 'Exo', sans-serif;
}

nav {
  background-color: #000;
  position: sticky;
  top: 0px;
  height: 100px;
  padding: 0 20px;
  z-index: 100;
  overflow: hidden;
}

nav .truc {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

nav a, nav img {
  font-size: 2.5rem;
  line-height: 100px;
  color: #FFF;
  margin: 0 20px;
  text-decoration: none;
  font-family: 'Exo', sans-serif;
}

.burger {
  position: relative;
  top: 13px;
  margin: 0 3%;
}

nav a:hover {
  color: #41B0C9;
  transition: .5s;
}

nav .logo {
  height: 50px;
  margin: 25px 70px;
  border-radius: 2px;
}

.menu-burger {
  display: none;
  position: fixed;
  top: 34px;
  right: 20px;
}

#burger {
  display: none;
  background: #000;
  position: relative;
  left: -20px;
  height: calc(100vh - 100px);
  width: 100vw;
  flex-flow: column-reverse nowrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0 10px 10px -10px grey;
}
 
@media all and (max-width: 790px) {
  /*  BOUTON BURGER */
  .menu-burger {
    display: block;
    cursor: pointer;
  }

  .menu-burger > div {
    height: 4px;
    width: 35px;
    margin: 5px 0;
    background-color: #FFF;
    transition: transform 1s ease, opacity 1s ease;
  }

  .menu-burger.is-expanded > div:nth-of-type(1) {
    transform: rotate(45deg) translate(3px,10px);
  }

  .menu-burger.is-expanded > div:nth-of-type(2) {
    opacity: 0;
  }

  .menu-burger.is-expanded > div:nth-of-type(3) {
    transform: rotate(-45deg) translate(3px,-10px);
  }
  /* BOUTON MENU BURGER */

  .burger {
    display: none;
  }

  #burger {
    display: flex;
  }

  #burger a {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  nav .logo {
    margin: 25px 0;
  }
}

@media all and (max-width: 337px) {
  nav .truc {
    justify-content: start;
  }

  nav {
    padding: 0px;
  }
}
