main p, h1, h2, button {
  font-family: 'Exo', sans-serif;
}


header {
  background-image: url('../img/tesla-banner.jpg');
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;

}

button {

     display: flex;
     justify-content: center;
     width: 300px;
     margin-right: 100px;
     margin-left: 100px;
     height: 50px;
     font-size: 30px;
     background-color: black;
     cursor: pointer;
 }

<<<<<<< HEAD
 @import "bourbon";

 $col-primary: #00c7ec;
 $corner-radius: 5px;

 body {
   background-color: #012839;
   text-align: center;
   padding-top: 50px;
 }

 .button {
   text-decoration: none;
   text-transform: uppercase;
   font-family: 'Exo 2', sans-serif;
   font-weight: 300;
   font-size: 30px;

   display: inline-block;
   position: relative;
   text-align: center;
   color: $col-primary;
   border: 1px solid $col-primary;
   border-radius: $corner-radius;

   line-height: 3em;
   padding-left: 5em;
   padding-right: 5em;

   box-shadow: 0 0 0 0 transparent;

   @include transition(all 0.2s ease-in);

   &:hover {
     color: white;
     box-shadow: 0 0 30px 0 transparentize($col-primary, 0.5);
     background-color: $col-primary;

     @include transition(all 0.2s ease-out);

     &:before {
       @include animation(shine 0.5s 0s linear);
     }
   }

   &:active {
     box-shadow: 0 0 0 0 transparent;
     @include transition(box-shadow 0.2s ease-in);
   }

   &:before {
     content: '';
     display: block;
     width: 0px;
     height: 86%;
     position: absolute;
     top: 7%;
     left: 0%;

     opacity: 0;
     background: white;
     box-shadow: 0 0 15px 3px white;
     @include transform(skewX(-20deg));
   }
 }

 @include keyframes(shine) {
   from {
     opacity: 0;
     left: 0%;
   }

   50% {
     opacity: 1;
   }
   to {
     opacity: 0;
     left: 100%;
   }
 }



=======
 #acheter, #vendre {
     color: white;
     box-shadow:black 0 0px 0px 2px inset;
 }
>>>>>>> e48199b4692067bf89141f80f13007ebb1500b61


#presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height:450px;
  text-align: center;
}

#zonetexte p {
  font-size: 24px;
  text-align: justify;
}
#zonetexte {
  width:50%;
  margin-right: 30px;
}
#avis {
  display: flex;
  justify-content: space-around;
  height:350px;
  align-items: center;

}
main .temoignage {
  width:20%;

}
#temoin h2 {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}
#temoin {
  background: grey;
}
#avis p {
  font-size: 18px;
  text-align: justify;
}

#partenaires h2{
    text-align: center;
    font-size: 250%;
    padding-top: 2%;
    font-family: 'Exo', sans-serif;
    padding-bottom: 2%;
 }

main .logo{
  width:150px;
	height:150px;
	background:#069;
  transition: transform .3s;
}

main .logo:hover{
  cursor: pointer;
  transform: scale(1.2);
}

 main .container{
   display: flex;
   justify-content: space-around;
 }

 #partenaires {
   height: 350px;
 }

 .temoignage img {
   width: 25px;
 }
 #blanche {
   width:25px;

 }
.temoignage {
  display: flex;
  flex-direction: column;
}
.pasclasse {
  display: flex;
}
.zut {
  display: flex;
}
