html, main p, h1, h2, button {
  font-family: 'Exo', sans-serif;
}
html {
  font-size: 62.5%;
}
#phrases {
  width: 100%;
}
#container {
  width:100%;
  display: flex;
  justify-content: space-between;
}
input {
  width:80%;
}
section {
  width:20%
}
#corps {
  width: 70%;
  display: flex;
  flex-direction: column;
}
#listing_voitures {
  display: flex;
}
