html {
  font-family: 'Libre Franklin', serif;
  font-size: 62.5%;
}

.p {
  font-size: 1.8rem;
}

.conteneur {
  display: flex;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 10px;
  justify-content: space-around;
  margin-top: 40px;
}

.h1vendre {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding-top: 20px;
}

.h2vendre {
  padding-bottom: 10px;
}

.droite {
  margin-top: 40px;
  display: flex;
  width: 50%;
}

.gauche {
  margin-top: 15px;
}

.cars {
  margin-right: 20px;
}

#marque, #energie, #année, #km, #nom, #tel, #codepostal, #mail {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  padding-left: 33px;
  outline: 0;
  background: #f2f2f2;
  border: 0;
  font-size: 14px;
  border-radius: 15px;
}

#marque {
  background-image: url("../img/icon/voiture.gif");
  background-position: 7px 9px;
  background-size: 22px 22px;
  background-repeat: no-repeat;
}

#energie {
  background-image: url("../img/icon/nrj.png");
  background-position: 9px 7px;
  background-size: 20px 21px;
  background-repeat: no-repeat;
}

#année {
  background-image: url("../img/icon/calendrier.gif");
  background-position: 9px 9px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

#km {
  background-image: url("../img/icon/km.png");
  background-position: 8px 8px;
  background-size: 20px 23px;
  background-repeat: no-repeat;
}

#nom {
  background-image: url("../img/icon/user.gif");
  background-position: 7px 5px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
}

#tel {
  background-image: url("../img/icon/tel.gif");
  background-position: 7px 9px;
  background-size: 20px 22px;
  background-repeat: no-repeat;
}

#codepostal {
  background-image: url("../img/icon/immeuble.gif");
  background-position: 8px 8px;
  background-size: 20px 23px;
  background-repeat: no-repeat;
}

#mail {
  background-image: url("../img/icon/mail.png");
  background-position: 8px 10px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

::placeholder {
  color: black;
  opacity: 0.4;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
  opacity: 0.4;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
  opacity: 0.4;
}

.col2 {
  padding-right: 20%;
}

.buttonvendre {
  position: relative;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  font-size: 1em;
  background-color: white;
  color: black;
  padding: 0 10px;
  outline: 0;
  float: right;
  margin-bottom: 10px;
  margin-top: 10px;
}

.buttonvendre:hover {
  cursor: pointer;
}

.h4vendre img {
  width: 12%;
  float: left;
  padding-right: 5px;
}

.formvente {
  display: flex;
  width: 50%;
}

.témoignages {
  display: flex;
  justify-content: space-around;
  background-color: black;
  padding: 5px 20px 20px 20px;
}

#imgtémoins {
  border-radius: 100px;
  width: 120px;
  overflow: hidden;
}

.témoinsgauche {
  display: flex;
  justify-content: space-around;
}

.témoinsdroite {
  display: flex;
  justify-content: space-around;
}

.avisD, .avisG, .avisdroite, .avisgauche {
  padding-left: 5%;
  padding-right: 5%;
}

.Tem {
  font-size: 1.4rem;
  color: white;
  text-align: justify;
}

.nametem {
  color: white;
  font-size: 1.7rem;
  font-weight: 200;
  padding-left: 6px;
}

.blocnotenom {
  bottom: 20px;
  left: 20px;
}

#imgtémoins, .blocnotenom {
  display: inline-block;
  position: relative;
}

.étoiles {
  font-size: 15px;
}

.titletemoin {
  background-color: black;
}

@media screen and (max-width: 756px) {
  .conteneur {
    flex-direction: column;
  }
  .formvente {
    width: 90%;
    margin-left: 5%;
  }
  .h4vendre img {
    width: 32px;
  }
  .gauche {
    margin-left: 5%;
  }
}

@media screen and (max-width: 900px) {
  .témoignages {}
}

@media screen and (max-width: 754px) {
  .témoinsgauche {}
  @keyframes slidy {
    0% {
      left: 0%;
    }
    10% {
      left: -50%;
    }
    25% {
      left: -50%;
    }
    35% {
      left: -100%;
    }
    50% {
      left: -100%;
    }
    60% {
      left: -150%;
    }
    75% {
      left: -150%;
    }
    85% {
      left: -200%;
    }
    100% {
      left: -200%;
    }
  }
  body {
    margin: 0;
  }
  div#slider {
    overflow: hidden;
  }
  .témoinsgauche {
    width: 50%;
    float: left;
  }
  .témoignages {
    position: relative;
    width: 403%;
    margin: 0;
    left: 0;
    font-size: 0;
    animation: 35s slidy infinite;
  }
  #stars {
    font-size: 15px;
  }
  .avisG, .avisD, .avisdroite, .avisgauche {
    margin-top: 20px;
  }
  #imgtémoins {
    width: 80px;
  }
}

@media screen and (max-width: 470px) {
  .conteneur {
    flex-direction: column;
  }
  @keyframes slidy {
    0% {
      left: 0%;
    }
    10% {
      left: -100%;
    }
    25% {
      left: -100%;
    }
    35% {
      left: -200%;
    }
    50% {
      left: -200%;
    }
    60% {
      left: -300%;
    }
    75% {
      left: -300%;
    }
    85% {
      left: -400%;
    }
    100% {
      left: -400%;
    }
  }
  body {
    margin: 0;
  }
  div#slider {
    overflow: hidden;
  }
  .témoinsgauche {
    width: 100%;
    float: left;
  }
  .témoignages {
    position: relative;
    width: 803%;
    margin: 0;
    left: 0;
    font-size: 0;
    animation: 35s slidy infinite;
  }
  .cars {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .formvente {
    width: 90%;
    flex-direction: column;
  }
  .h4vendre img {
    width: 30px;
  }
  .gauche {
    padding-left: 9%;
    width: 90%;
  }
  .coordonnées {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .h1vendre {
    padding-left: 14%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 1278px) {
  .blocnotenom {
    position: static;
  }
}
